# BAN5753, Excersice 12
### Vincent Rodriguez, A

1. Build a logistic regression model to Predict Target (Enroll). Use all of the data (no splitting of train/validation /test) all potential input variables (no variable selection). Report results from this model and comment on how well does this model work? ​​​​​​​​(1 point)

2. Now run a PCA with all numeric variables (including the binary and ordinal variables). How many PCs would you retain based on Eigen Value > 1 criterion? How much cumulative variance will that extract? How many PCs would you retain based on scree plot criterion? How much cumulative variance will that extract? ​​​​​​​ (1 point)

3. Assume you want to retain PCs such that you extract at least 70% of the variance. Use those retained PCs and rebuild the model in #1 using only the retained PCs as input variables plus all nominal variables with no variable selection. Did this model perform better or worse compared to model in #1? Explain.​ (2 points)

4. Now run a variable clustering with all numeric variables (including the binary and ordinal variables). How many clusters are formed using 2ND Eigen Value > 0.7 criterion? What are the representative variables from each cluster?​(1 point)

5. Use the representative variables from variable clustering in step above and rebuild the model in #1 using only the representative variables as input variables plus the nominal variables with no variable selection. Did this model perform better or worse compared to model in #1 and #4? Explain.​​​(2 points)

6. Now comes the hard part that you need to figure out on your own by going online, or looking at R and Python codes that we may have used in prior classes and/or code snippets provided by TAs in this class. Now, turn-in your fully functional R-code or, a Jupyter notebook of Python codes that we will attempt to run on our side. To get full credits, your code file must do following without any error (3 points)

    a. Import library inside R or Python to read the file given with this exercise
    
    b. Print a bar/pie chart to understand the distribution of values in the Target (Enroll)
    
    c. Print the output from running a logistic regression with Target (Enroll) as dependent variable and use all potential input variables as independent variables.
    
    d. Perform PCA with all the numeric variables (including the binary and ordinal variables). Print the output of screeplot using R or python
    
    e. Perform variable clustering all the numeric variables (including the binary and ordinal variables) using R or Python. Then print the output from variable clustering results.
    
    
### Deliverables:
As you complete the exercise, create a short report in Microsoft Word and in this report answer the questions in the exercise description. Copy and paste supporting documents/diagrams/screenshots as needed to justify your answer. Make sure you print your name, section number, student ID# on the report and turn-in the report as communicated by your instructor. For R/Python part of this assignment, turn-in your codes in an appendix of your report.

In [1]:
import pandas as pd

In [7]:
enroll = pd.read_excel("_data/ENROLLMENT_DATA.xlsx")
enroll.head()

,Target_Enroll,avg_income,CAMPUS_VISIT,CONTACT_CODE1,Contact_Date,Contact_Month,Contact_Year,distance,ETHNICITY,hscrat,...,telecq,TERRITORY,TOTAL_CONTACTS,TRAVEL_INIT_CNTCTS,Total,AllocProportion,SampleSize,ActualProportion,SelectionProb,SamplingWeight
0,0,NaN,0,EML,1,Sep,2012,NaN,NaN,0.037652,...,NaN,N,1,0,2580,0.5,2322,0.5,0.9,1.111111
1,0,NaN,0,SAT,12,Feb,2014,NaN,N,0.037652,...,NaN,N,1,0,2580,0.5,2322,0.5,0.9,1.111111
2,0,NaN,0,C01,16,Jan,2015,NaN,C,0.037652,...,NaN,N,1,0,2580,0.5,2322,0.5,0.9,1.111111
3,0,NaN,0,EML,11,Mar,2015,NaN,NaN,0.037652,...,NaN,N,1,0,2580,0.5,2322,0.5,0.9,1.111111
4,0,NaN,0,TFL,28,Mar,2015,NaN,B,0.037652,...,NaN,N,2,0,2580,0.5,2322,0.5,0.9,1.111111